@import './tailwind.css';

*,
*:after,
*:before {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Helvetica Neue';
  height: 100%;
  width: 100%;
  overscroll-behavior-x: none;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

a,
button {
  border: 0 none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: inherit;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  line-height: normal;
  text-decoration: none;
}
